[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Kyle Grierson
	email = griersonky@gmail.com
[core]
	editor = nvim
[diff]
    external = difft
