[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	name = Kyle Grierson
	email = griersonky@gmail.com
[core]
    pager = delta
	editor = nvim
[include]
    path = ~/.config/delta/themes/catppuccin.gitconfig
[delta]
    features = catppuccin-latte
